# Local environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# Coverage
.coverage
htmlcov/

# VS Code (по желанию)
.vscode/settings.json
.vscode/launch.json

# Docker
*.pid

# macOS
.DS_Store

# Linux
*~

# Logs
*.log
logs/

# Build
build/
dist/
*.egg-info/